{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>
                <strong>
                    这里显示与您相关的活动
                </strong>
            </h2>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="{% url 'homepage' %}">我的主页</a>
                </li>
                <li>
                    <a href="{% url 'manage' %}">活动管理</a>
                </li>
                <li>
                    <a href="{% url 'search' %}">活动搜索</a>
                </li>
                <li>
                    <a href="{% url 'userinfo' %}">个人信息</a>
                </li>
                <li>
                    <a href="{% url 'help'%}">帮助信息</a>
                </li>
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">创建新活动
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'create' %}">创建单个活动</a></li>
                        <li>
                            <a href="{% url 'upload' %}">批量导入活动</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <h3>这些是您已经安排的活动</h3>
            <h2 class="text-center">AM&nbsp&nbsp&nbsp&nbspPM</h2>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="VivaTimeline">
                            <dl>
                                {% for activity in activities_added %}
                                {% if activity.begin_time.hour > 16 or activity.begin_time.hour < 4 %}
                                <dd class="pos-left clearfix">
                                    <div class="circ"></div>
                                    <div class="time">{{ activity.begin_time }}</div>
                                    <div class="events">
                                        <div class="events-header">
                                            <strong>{{activity.title}}</strong></a>
                                            &nbsp<small>{{activity.type}}</small>
                                            {% if activity.is_public %}
                                            <label><small>公有</small></label>
                                            {% else %}
                                            <label><small>私人</small></label>
                                            {% endif %}
                                        </div>
                                        <div class="events-body">
                                            <div class="row">
                                                <div class="col-xs-6 pull-left">
                                    {% for image in activity.activity_images.all %}
                                        <img src='/{{ image.image }}' class="img-responsive img-polaroid center-block"/>
                                    {% endfor %}
                                                </div>
                                                <div class="events-desc">
                                                    {{ activity.description }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="events-footer">
                                            {% bootstrap_icon 'user' %}创建者:<b>{{activity.creator}}</b><br>
                                            {% bootstrap_icon 'time' %}结束时间:{{activity.end_time}}
                                        </div>
                                    </div>
                                </dd>
                                {% else %}
                                <dd class="pos-right clearfix">
                                    <div class="circ"></div>
                                    <div class="time">{{ activity.begin_time }}</div>
                                    <div class="events">
                                        <div class="events-header">
                                            <strong>{{activity.title}}</strong></a>
                                            &nbsp<small>{{activity.type}}</small>
                                            {% if activity.is_public %}
                                            <label><small>公有</small></label>
                                            {% else %}
                                            <label><small>私人</small></label>
                                            {% endif %}
                                        </div>
                                        <div class="events-body">
                                            <div class="row">
                                                <div class="col-xs-6 pull-left">
                                    {% for image in activity.activity_images.all %}
                                        <img src='/{{ image.image }}' class="img-responsive img-polaroid center-block"/>
                                    {% endfor %}
                                                </div>
                                                <div class="events-desc">
                                                    {{ activity.description }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="events-footer">
                                            {% bootstrap_icon 'user' %}创建者:<b>{{activity.creator}}</b><br>
                                            {% bootstrap_icon 'time' %}结束时间:{{activity.end_time}}
                                        </div>
                                    </div>
                                </dd>
                                {% endif %}
                                {% endfor %}

                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <h3>这些活动您可能无法兼顾</h3>
            <table class="table">
                <tbody>
                {% for activity in activities_choosen %}
                <tr>
                    <td><a class="lead"
                           href="{% url 'activity' activity.idActivity %}"><strong>{{activity.title}}</strong></a>&nbsp{{activity.type}}
                        <div>
                            {{activity.description}}
                        </div>
                        <br>
                        <div class="pull-right">
                            {% bootstrap_icon 'user' %}<b>{{activity.creator}}</b>
                            {% bootstrap_icon 'time' %}{{activity.begin_time}}——
                            {{activity.end_time}}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/bootstrap/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
<script src="../static/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/jquery.eeyellow.Timeline.css"/>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/bootstrap/js/jquery.eeyellow.Timeline.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('.VivaTimeline').vivaTimeline({
                carousel: true,
                carouselTime: 3000
            });
        });






</script>
{% endblock %}