{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>
                <strong>
                    在这里选择你想参加的活动
                </strong>
                </h3>
                <ul class="nav nav-tabs">
                    <li>
                        <a href="{% url 'homepage' %}">我的主页</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'manage' %}">活动管理</a>
                    </li>
                    <li>
                        <a href="{% url 'search' %}">活动搜索</a>
                    </li>
                    <li>
                        <a href="{% url  'userinfo' %}">个人信息</a>
                    </li>
                    <li>
                        <a href="{% url  'help' %}">帮助信息</a>
                    </li>
                    <li class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">创建新活动
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'create' %}">创建单个活动</a></li>
                            <li>
                                <a href="{% url 'upload' %}">批量导入活动</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </div>
    <hr>

    <div class="row-fluid">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a class="btn btn-info btn-lg center-block" href="{% url 'search'%}">活动搜索</a>
            <hr>
            <table class="table">
                <tbody>
                {% for activity in activities_view %}
                <tr>
                    <td><a class="lead"
                           href="{% url 'activity' activity.idActivity %}"><strong>{{activity.title}}</strong></a>
                        &nbsp{{activity.type}}
                        &nbsp
                        {% if activity.is_public %}
                        <label>公有</label>
                        {% else %}
                        <label>私人</label>
                        {% endif %}
                        <div>
                            {{activity.description}}
                        </div>
                        <br>
                        <div class="pull-right">
                            {% bootstrap_icon 'user' %}<b>{{activity.creator}}</b>
                            {% bootstrap_icon 'time' %}{{activity.begin_time}}——
                            {{activity.end_time}}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button type="button" class="btn btn-block btn-lg btn-primary" data-toggle="modal"
                        data-target="#myModal">开始规划我的活动
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document" style="width:450px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel"><strong>规划我的活动</strong>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <br><br>
                                <div class="col-md-6 center-block">
                                <form method="post" action="{% url 'schedule-amount' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-block btn-success" >我想参加更多的活动</button>
                                </form>
                                    <h6 class="text-center text-muted">选择尽可能多的活动参加</h6>
                                </div>
                                <div class="col-md-6">
                                <form method="post" action="{% url 'schedule-priority' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-block btn-info">我想参加更喜欢的活动</button>
                                 </form>

                                    <h6 class="text-center text-muted">选择活动的优先级之和最大</h6>
                                </div>
                            </div>
                            <br><br><br><br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            <hr>
            <table class="table">
                <tbody>
                {% for activity in activities_choosen %}
                <tr>
                    <td><a class="lead"
                           href="{% url 'activity' activity.idActivity %}"><strong>{{activity.title}}</strong></a>
                        &nbsp{{activity.type}}
                        &nbsp
                        {% if activity.is_public %}
                        <label>公有</label>
                        {% else %}
                        <label>私人</label>
                        {% endif %}
                        <div>
                            {{activity.description}}
                        </div>
                        <br>
                        <div class="pull-right">
                            {% bootstrap_icon 'user' %}<b>{{activity.creator}}</b>
                            {% bootstrap_icon 'time' %}{{activity.begin_time}}——
                            {{activity.end_time}}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}